/* Default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    --btn: #0079ff;
    --btn-hover: #60abff;
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
}

body {
    background-color: var(--lm-bg);
    color: var(--lm-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lm-bg);
    padding: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
}

.heading-mode {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
}

.dev {
    font-weight: bold;
}

.form-container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lm-bg-content);
    width: 100%;
    box-shadow: var(--lm-shadow);
}

.search-icon {
    margin-right: 10px;
}

.form-container input {
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--lm-bg);
    color: var(--lm-text);
}

.form-container button:first-of-type {
    background-color: var(--btn);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: var(--lm-bg-content);
    cursor: pointer;
}

.justlikebtn {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    color: var(--lm-text);
    cursor: pointer;
}

.user-info-container {
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lm-bg-content);
    box-shadow: var(--lm-shadow);
    width: 100%;
}

.user-info-container img[userImage] {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-info-content {
    width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.description p[joiningDate] {
    font-size: 12px;
    color: var(--lm-text-alt);
}

.description p[name_user] {
    font-size: 24px;
    font-weight: bold;
    color: var(--lm-text);
}

.userId {
    color: var(--btn);
}

.user-info-content div[portFolioSection] {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    color: var(--lm-text-alt);
}

.userReach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.parameters {
    text-align: center;
}

.parameters .commonfont {
    font-size: 18px;
    font-weight: bold;
    color: var(--lm-text);
}

.parameters .reposs {
    margin-left: 10px;
}

.region-id-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.person-info {
    display: flex;
    align-items: center;
}

.person-info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.person-info a {
    color: var(--btn);
}

.form-container input::placeholder {
    color: var(--lm-text-alt);
}

.not-found {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 12px;
    font-weight: bold;
}

/* Dark mode styles */
.dark-mode {
    --lm-bg: #141D2F;
    --lm-bg-content: #1E2A47;
    --lm-text: #F6F8FF;
    --lm-text-alt: #F6F8FF;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.dark-mode .form-container,
.dark-mode .user-info-container {
    background-color: var(--lm-bg-content);
    box-shadow: var(--lm-shadow);
}

.dark-mode .form-container input,
.dark-mode .user-info-content div[portFolioSection] {
    color: var(--lm-text);
}

.dark-mode .userId,
.dark-mode .commonfont {
    color: var(--btn);
}

.dark-mode .not-found {
    color: red;
}

/* Light mode styles */
.light-mode {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.light-mode .form-container,
.light-mode .user-info-container {
    background-color: var(--lm-bg-content);
    box-shadow: var(--lm-shadow);
}

.light-mode .form-container input,
.light-mode .user-info-content div[portFolioSection] {
    color: var(--lm-text);
}

.light-mode .userId,
.light-mode .commonfont {
    color: var(--btn);
}

.light-mode .not-found {
    color: red;
}
